body {background-image:url(../Images/Socks.jpg);
}

.HeaderLogo{
    font-size:150px;
    font-family: 'Edwardian Script ITC';
    text-shadow:3px 3px 10px #793f0d;
}

.HeaderMenu ul{
    list-style-type:none;
    margin:50px 50px;
    padding:5px;
    overflow:hidden;
}
.HeaderMenu li{
    display:inline-block;
}
.HeaderMenu li a{
    display:inline-block;
    padding:15px;
    color: #793f0d;
    text-align:center;
    text-decoration:none;
    font-family: Rockwell;
    font-size:150%;
}
.HeaderMenu li a:hover:not(.active){
    background-color:#e5ae86;
}

/*format for footer*/
.footer{
    font-size:150%;
}
/*format for default.aspx*/
.H1{
    font-family:Rockwell;
    font-size:170%;
    color:#793f0d;
}
.socksdefault{
    width:200px;
    height:150px;
}

/*format for contact.aspx*/
.field{
    width:0;
}
.contactus{
    font-size:50px;
}
.contact {
    font-size:25px;
    font-family:Calibri;
}
.table{
    width:auto;
}
.Send {
    text-decoration-color:#793f0d;
    height:35px;
    width:100px;
    font-family:Rockwell;
    font-size:25px;
}

googleMap {
    width: 700px;
    height: 500px;
    border: 2px solid;
}
/*validator design*/
#ValidName {
    font-family:Rockwell;
}